.app {
  padding: 64px 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

.main {
  padding: 32px 0;
}

.list {
  padding: 16px;
  background: rgb(215, 215, 215);
  min-width: 290px;
}